.container {
    width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.block {
    display: flex;
    margin: 20px 0;
}

p {
    width: 30%;
}

textarea {
    width: 70%;
}

.password {
    align-items: center;
}

input {
    width: 50%;
    height: 20px;
}

.topBtn,
.botBtn {
    width: 10%;
    text-align: right;
}

.decoded textarea,
.encoded textarea {
    resize: none;
    height: 120px;
}